<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ApplicationForm.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDelfinService" closeTimeout="00:50:00"
                    openTimeout="00:50:00" receiveTimeout="00:50:00" sendTimeout="00:50:00"
                    maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
                <binding name="BasicHttpBinding_IOnLineService" closeTimeout="00:50:00"
                    openTimeout="00:50:00" receiveTimeout="00:50:00" sendTimeout="00:50:00"
                    maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
                <binding name="BasicHttpBinding_INextSoftService" closeTimeout="00:50:00"
                    openTimeout="00:50:00" receiveTimeout="00:50:00" sendTimeout="00:50:00"
                    maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://apps.delfingroupco.com.pe:766/DelfinService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDelfinService"
                contract="AppService.IDelfinService" name="BasicHttpBinding_IDelfinService" />
            <endpoint address="http://apps.delfingroupco.com.pe:767/OnLineService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOnLineService"
                contract="OnLineService.IOnLineService" name="BasicHttpBinding_IOnLineService" />
            <endpoint address="http://apps.delfingroupco.com.pe:766/NextSoftService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INextSoftService"
                contract="NextSoftService.INextSoftService" name="BasicHttpBinding_INextSoftService" />
        </client>
    </system.serviceModel>
    <userSettings>
        <ApplicationForm.My.MySettings>
            <setting name="LookAndFeel" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="SpeechEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppName" serializeAs="String">
                <value />
            </setting>
            <setting name="PaintStyle" serializeAs="String">
                <value>ExplorerBar</value>
            </setting>
            <setting name="pathpdfFacturas" serializeAs="String">
                <value>\\30.0.0.4\all\FacturacionElectronica\pdf\Facturas\</value>
            </setting>
            <setting name="pathpdfBoletas" serializeAs="String">
                <value>\\30.0.0.4\all\FacturacionElectronica\pdf\Boletas\</value>
            </setting>
            <setting name="pathpdfNotasCredito" serializeAs="String">
                <value>\\30.0.0.4\all\FacturacionElectronica\pdf\NotasCredito\</value>
            </setting>
            <setting name="pathpdfRecibos" serializeAs="String">
                <value>\\30.0.0.4\all\FacturacionElectronica\pdf\Recibos\</value>
            </setting>
            <setting name="TaxCode" serializeAs="String">
                <value>20516667550</value>
            </setting>
        </ApplicationForm.My.MySettings>
    </userSettings>
</configuration>
