<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="dbNextSoft" connectionString="server=192.168.1.10;database=NextSoft;uid=sa;password=novatronic;"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="TransactionServiceImplPortBinding">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://dev-gw.efact.pe:8686/connectorcsv/TransactionService7ab781c8ce6f11e4b9d61681e6b88ec1" binding="customBinding" bindingConfiguration="TransactionServiceImplPortBinding" contract="eFactService.TransactionService" name="TransactionServiceImplPort"/>
    </client>
  </system.serviceModel>

  <appSettings>

    <add key="usuario" value="20516667550"/>
    <add key="password" value="53db50d47223f443"/>

    <add key="RUC" value="20516667550"/>
    <add key="usuarioRest" value="20516667550"/>
    <add key="passwordRest" value="82347caa0860d8b2fff7aed2c63f7049081241b3ad5aca35e982093db38cfb09"/>
    <add key="granttype" value="password"/>
    <add key="urlToken" value="https://ose-gw1.efact.pe:443/api-efact-ose/oauth/token"/>
    <add key="urlSendCsv" value="https://ose-gw1.efact.pe/api-efact-ose/v1/document"/>
    <add key="urlGetCdr" value="https://ose-gw1.efact.pe:443/api-efact-ose/v1/cdr/"/>
    <add key="urlGetPdf" value="https://ose-gw1.efact.pe:443/api-efact-ose/v1/pdf/"/>
    <add key="urlGetXml" value="https://ose-gw1.efact.pe:443/api-efact-ose/v1/xml/"/>
    
    
    
    
    <add key="dbNextSoft" value="server=192.168.1.6;database=NextSoft;uid=sa;password=novatronic;"/>
    <add key="pathLog" value="C:\DocumentosElectronicos\log\"/>
    <add key="pathpdfFacturas" value="C:\DocumentosElectronicos\pdf\Facturas\"/>
    <add key="pathcsvFacturas" value="C:\DocumentosElectronicos\csv\Facturas\"/>
    <add key="pathcdrFacturas" value="C:\DocumentosElectronicos\cdr\Facturas\"/>
    <add key="pathxmlFacturas" value="C:\DocumentosElectronicos\xml\Facturas\"/>
    <add key="pathpdfBoletas" value="C:\DocumentosElectronicos\pdf\Boletas\"/>
    <add key="pathcsvBoletas" value="C:\DocumentosElectronicos\csv\Boletas\"/>
    <add key="pathcdrBoletas" value="C:\DocumentosElectronicos\cdr\Boletas\"/>
    <add key="pathxmlBoletas" value="C:\DocumentosElectronicos\xml\Boletas\"/>
    <add key="pathpdfNotasCredito" value="C:\DocumentosElectronicos\pdf\NotasCredito\"/>
    <add key="pathcsvNotasCredito" value="C:\DocumentosElectronicos\csv\NotasCredito\"/>
    <add key="pathcdrNotasCredito" value="C:\DocumentosElectronicos\cdr\NotasCredito\"/>
    <add key="pathxmlNotasCredito" value="C:\DocumentosElectronicos\xml\NotasCredito\"/>
    <add key="pathpdfBajas" value="C:\DocumentosElectronicos\pdf\Bajas\"/>
    <add key="pathcsvBajas" value="C:\DocumentosElectronicos\csv\Bajas\"/>
    <add key="pathcdrBajas" value="C:\DocumentosElectronicos\cdr\Bajas\"/>
    <add key="pathxmlBajas" value="C:\DocumentosElectronicos\xml\Bajas\"/>

  </appSettings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
