<?xml version="1.0"?>
<configuration>
  <!--<connectionStrings>
      <add name="ConnDB" connectionString="Data Source=serverhp01\SQL12;Initial Catalog=DelfinLima;User ID=ronaldc;Password=RonaldC;Connect Timeout=120;Application Name=DELFIN;" providerName="System.Data.SqlClient" />
      <add name="ConnDBAdmin" connectionString="Data Source=serverhp01\SQL12;Initial Catalog=DelfinNEXTADMIN;User ID=ronaldc;Password=RonaldC;Connect Timeout=120;Application Name=DELFIN;" providerName="System.Data.SqlClient" />
   </connectionStrings>-->
  <configSections>
  </configSections>
  <appSettings>
    <!--<add key="PathApp" value="d:\Deleted\" />-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    
    <add key="RUC" value="20516667550"/>
    <add key="usuarioRest" value="20516667550"/>
    <add key="passwordRest" value="6a5155c17d78887623adc8b4af528360d15d90624960d304009bdf728ce3f90c"/>
    <add key="granttype" value="password"/>
    <add key="urlToken" value="https://ose.efact.pe/api-efact-ose/oauth/token"/>
    <add key="urlSendCsv" value="https://ose.efact.pe/api-efact-ose/v1/document"/>
    <add key="urlGetCdr" value="https://ose.efact.pe/api-efact-ose/v1/cdr/"/>
    <add key="urlGetPdf" value="https://ose.efact.pe/api-efact-ose/v1/pdf/"/>
    <add key="urlGetXml" value="https://ose.efact.pe/api-efact-ose/v1/xml/"/>
        
    
    <add key="usuario" value="20516667550"/>
    <add key="password" value="53db50d47223f443"/>
    <add key="dbNextSoft" value="server=30.0.0.28;database=NextSoft;uid=appuser;password=Delf1n;"/>
    <add key="pathLog" value="\\30.0.0.4\all\FacturacionElectronica\log\"/>
    <add key="pathpdfFacturas" value="\\30.0.0.4\all\FacturacionElectronica\pdf\Facturas\"/>
    <add key="pathcsvFacturas" value="\\30.0.0.4\all\FacturacionElectronica\csv\Facturas\"/>
    <add key="pathcdrFacturas" value="\\30.0.0.4\all\FacturacionElectronica\cdr\Facturas\"/>
    <add key="pathxmlFacturas" value="\\30.0.0.4\all\FacturacionElectronica\xml\Facturas\"/>
    <add key="pathpdfBoletas" value="\\30.0.0.4\all\FacturacionElectronica\pdf\Boletas\"/>
    <add key="pathcsvBoletas" value="\\30.0.0.4\all\FacturacionElectronica\csv\Boletas\"/>
    <add key="pathcdrBoletas" value="\\30.0.0.4\all\FacturacionElectronica\cdr\Boletas\"/>
    <add key="pathxmlBoletas" value="\\30.0.0.4\all\FacturacionElectronica\xml\Boletas\"/>
    <add key="pathpdfNotasCredito" value="\\30.0.0.4\all\FacturacionElectronica\pdf\NotasCredito\"/>
    <add key="pathcsvNotasCredito" value="\\30.0.0.4\all\FacturacionElectronica\csv\NotasCredito\"/>
    <add key="pathcdrNotasCredito" value="\\30.0.0.4\all\FacturacionElectronica\cdr\NotasCredito\"/>
    <add key="pathxmlNotasCredito" value="\\30.0.0.4\all\FacturacionElectronica\xml\NotasCredito\"/>
    <add key="pathpdfBajas" value="\\30.0.0.4\all\FacturacionElectronica\pdf\Bajas\"/>
    <add key="pathcsvBajas" value="\\30.0.0.4\all\FacturacionElectronica\csv\Bajas\"/>
    <add key="pathcdrBajas" value="\\30.0.0.4\all\FacturacionElectronica\csv\Bajas\"/>
    <add key="pathxmlBajas" value="\\30.0.0.4\all\FacturacionElectronica\csv\Bajas\"/>
    <add key="pathpdfRecibos" value="\\30.0.0.4\all\FacturacionElectronica\pdf\Recibos\"/>    
    <add key="TiempoEsperaPdf" value="90"/>
    
  </appSettings>
  <connectionStrings>
    <!--<add name="ConnDB" connectionString="Data Source=serverhp01\SQL12;Initial Catalog=DelfinIgmar;User ID=sa;Password=ibm01*;Connect Timeout=120;Application Name=DELFIN;" providerName="System.Data.SqlClient" />
    <add name="ConnDBAdmin" connectionString="Data Source=serverhp01\SQL12;Initial Catalog=DelfinNEXTADMIN;User ID=sa;Password=ibm01*;Connect Timeout=120;Application Name=DELFIN;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnDB" connectionString="Data Source=MAURICIO-LAPTOP;Initial Catalog=DelfinIgmar;User ID=SA;Password=;Connect Timeout=120;Application Name=DELFIN;" providerName="System.Data.SqlClient" />
     <add name="ConnDBAdmin" connectionString="Data Source=MAURICIO-LAPTOP;Initial Catalog=DelfinNEXTADMIN;User ID=SA;Password=;Connect Timeout=120;Application Name=DELFIN-NEXTADMIN;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true">
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDelfinService" closeTimeout="00:50:00"
          openTimeout="00:50:00" receiveTimeout="00:50:00" sendTimeout="00:50:00"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_INextSoftService" closeTimeout="00:50:00"
          openTimeout="00:50:00" receiveTimeout="00:50:00" sendTimeout="00:50:00"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IOnLineService" closeTimeout="00:50:00"
          openTimeout="00:50:00" receiveTimeout="00:50:00" sendTimeout="00:50:00"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_INextSoftService1" closeTimeout="00:50:00"
          openTimeout="00:50:00" receiveTimeout="00:50:00" sendTimeout="00:50:00"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
      <customBinding>
        <binding name="TransactionServiceImplPortBinding" closeTimeout="00:50:00"
          openTimeout="00:50:00" receiveTimeout="00:50:00" sendTimeout="00:50:00">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="	http://prd-lb-gw2.efact.pe:8686/connectorcsv/TransactionService7ab781c8ce6f11e4b9d61681e6b88ec1"
        binding="customBinding" bindingConfiguration="TransactionServiceImplPortBinding"
        contract="eFactService.TransactionService" name="TransactionServiceImplPort" />
      <endpoint address="http://apps.delfingroupco.com.pe:766/NextSoftService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INextSoftService"
        contract="NextSoftService.INextSoftService" name="BasicHttpBinding_INextSoftService" />
      <endpoint address="http://apps.delfingroupco.com.pe:767/OnLineService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOnLineService"
        contract="OnLineService.IOnLineService" name="BasicHttpBinding_IOnLineService" />
      <endpoint address="http://apps.delfingroupco.com.pe:766/DelfinService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDelfinService"
        contract="AppService.IDelfinService" name="BasicHttpBinding_IDelfinService" />
    </client>
  </system.serviceModel>
</configuration>
