<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDelfinService"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="TransactionServiceImplPortBinding">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://dev-gw.efact.pe:8686/connectorcsv/TransactionService7ab781c8ce6f11e4b9d61681e6b88ec1" binding="customBinding" bindingConfiguration="TransactionServiceImplPortBinding" contract="eFactService.TransactionService" name="TransactionServiceImplPort"/>
      <endpoint address="http://apps.delfingroupco.com.pe:766/DelfinService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDelfinService" contract="AppService.IDelfinService" name="BasicHttpBinding_IDelfinService"/>
    </client>
  </system.serviceModel>


  <appSettings>

    <add key="usuario" value="20516667550"/>
    <add key="password" value="53db50d47223f443"/>
    <add key="dbNextSoft" value="server=30.0.0.28;database=NextSoft;uid=appuser;password=Delf1n;"/>
    <add key="pathLog" value="\\30.0.0.4\all\FacturacionElectronica\log\"/>
    <add key="pathpdfFacturas" value="\\30.0.0.4\all\FacturacionElectronica\pdf\Facturas\"/>
    <add key="pathcsvFacturas" value="\\30.0.0.4\all\FacturacionElectronica\csv\Facturas\"/>
    <add key="pathcdrFacturas" value="\\30.0.0.4\all\FacturacionElectronica\cdr\Facturas\"/>
    <add key="pathxmlFacturas" value="\\30.0.0.4\all\FacturacionElectronica\xml\Facturas\"/>
    <add key="pathpdfBoletas" value="\\30.0.0.4\all\FacturacionElectronica\pdf\Boletas\"/>
    <add key="pathcsvBoletas" value="\\30.0.0.4\all\FacturacionElectronica\csv\Boletas\"/>
    <add key="pathcdrBoletas" value="\\30.0.0.4\all\FacturacionElectronica\cdr\Boletas\"/>
    <add key="pathxmlBoletas" value="\\30.0.0.4\all\FacturacionElectronica\xml\Boletas\"/>
    <add key="pathpdfNotasCredito" value="\\30.0.0.4\all\FacturacionElectronica\pdf\NotasCredito\"/>
    <add key="pathcsvNotasCredito" value="\\30.0.0.4\all\FacturacionElectronica\csv\NotasCredito\"/>
    <add key="pathcdrNotasCredito" value="\\30.0.0.4\all\FacturacionElectronica\cdr\NotasCredito\"/>
    <add key="pathxmlNotasCredito" value="\\30.0.0.4\all\FacturacionElectronica\xml\NotasCredito\"/>
    <add key="pathpdfBajas" value="\\30.0.0.4\all\FacturacionElectronica\pdf\Bajas\"/>
    <add key="pathcsvBajas" value="\\30.0.0.4\all\FacturacionElectronica\csv\Bajas\"/>
    <add key="pathcdrBajas" value="\\30.0.0.4\all\FacturacionElectronica\csv\Bajas\"/>
    <add key="pathxmlBajas" value="\\30.0.0.4\all\FacturacionElectronica\csv\Bajas\"/>
    <add key="pathpdfRecibos" value="\\30.0.0.4\all\FacturacionElectronica\pdf\Recibos\"/>

  </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
