<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
   </configSections>
   <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
      <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />
      <container>
         <register type="Delfin.BusinessLogic.IBLCab_Cotizacion_OV, Delfin.BusinessLogic"                mapTo="Delfin.BusinessLogic.BLCab_Cotizacion_OV, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLContrato, Delfin.BusinessLogic"                         mapTo="Delfin.BusinessLogic.BLContrato, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLContrato_Comodity, Delfin.BusinessLogic"                mapTo="Delfin.BusinessLogic.BLContrato_Comodity, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDet_Cotizacion_OV_Archivo, Delfin.BusinessLogic"        mapTo="Delfin.BusinessLogic.BLDet_Cotizacion_OV_Archivo, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDet_Cotizacion_OV_Documento, Delfin.BusinessLogic"      mapTo="Delfin.BusinessLogic.BLDet_Cotizacion_OV_Documento, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDet_Cotizacion_OV_Flete, Delfin.BusinessLogic"          mapTo="Delfin.BusinessLogic.BLDet_Cotizacion_OV_Flete, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDet_Cotizacion_OV_Novedad, Delfin.BusinessLogic"        mapTo="Delfin.BusinessLogic.BLDet_Cotizacion_OV_Novedad, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDet_Cotizacion_OV_Servicio, Delfin.BusinessLogic"       mapTo="Delfin.BusinessLogic.BLDet_Cotizacion_OV_Servicio, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLGestionVentas, Delfin.BusinessLogic"                    mapTo="Delfin.BusinessLogic.BLGestionVentas, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLPaquete, Delfin.BusinessLogic"                          mapTo="Delfin.BusinessLogic.BLPaquete, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLProspecto, Delfin.BusinessLogic"                        mapTo="Delfin.BusinessLogic.BLProspecto, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLPuerto, Delfin.BusinessLogic"                           mapTo="Delfin.BusinessLogic.BLPuerto, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLResultGestion, Delfin.BusinessLogic"                    mapTo="Delfin.BusinessLogic.BLResultGestion, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLServicio, Delfin.BusinessLogic"                         mapTo="Delfin.BusinessLogic.BLServicio, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLTarifa, Delfin.BusinessLogic"                           mapTo="Delfin.BusinessLogic.BLTarifa, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLConstantes, Delfin.BusinessLogic"                       mapTo="Delfin.BusinessLogic.BLConstantes, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDirecENTC, Delfin.BusinessLogic"                        mapTo="Delfin.BusinessLogic.BLDirecENTC, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLEmpresa, Delfin.BusinessLogic"                          mapTo="Delfin.BusinessLogic.BLEmpresa, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLEntidad, Delfin.BusinessLogic"                          mapTo="Delfin.BusinessLogic.BLEntidad, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLEntidad_Acuerdo, Delfin.BusinessLogic"                  mapTo="Delfin.BusinessLogic.BLEntidad_Acuerdo, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLEntidad_Servicio, Delfin.BusinessLogic"                 mapTo="Delfin.BusinessLogic.BLEntidad_Servicio, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLFuncionEntidad, Delfin.BusinessLogic"                   mapTo="Delfin.BusinessLogic.BLFuncionEntidad, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLcorrelativos, Delfin.BusinessLogic"                     mapTo="Delfin.BusinessLogic.BLcorrelativos, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLSucursales, Delfin.BusinessLogic"                       mapTo="Delfin.BusinessLogic.BLSucursales, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLTipos, Delfin.BusinessLogic"                            mapTo="Delfin.BusinessLogic.BLTipos, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLTiposEntidad, Delfin.BusinessLogic"                     mapTo="Delfin.BusinessLogic.BLTiposEntidad, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLUbigeos, Delfin.BusinessLogic"                          mapTo="Delfin.BusinessLogic.BLUbigeos, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLServicio_Via, Delfin.BusinessLogic"                     mapTo="Delfin.BusinessLogic.BLServicio_Via, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLNave, Delfin.BusinessLogic"                             mapTo="Delfin.BusinessLogic.BLNave, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLNaveViaje, Delfin.BusinessLogic"                        mapTo="Delfin.BusinessLogic.BLNaveViaje, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLParametros, Delfin.BusinessLogic"                       mapTo="Delfin.BusinessLogic.BLParametros, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDetNaveViaje, Delfin.BusinessLogic"                     mapTo="Delfin.BusinessLogic.BLDetNaveViaje, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDet_Cotizacion_OV_EventosTareas, Delfin.BusinessLogic"  mapTo="Delfin.BusinessLogic.BLDet_Cotizacion_OV_EventosTareas, Delfin.BusinessLogic" />

         <register type="Delfin.BusinessLogic.IBLCab_Tarifa, Delfin.BusinessLogic"                       mapTo="Delfin.BusinessLogic.BLCab_Tarifa, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDet_Tarifa, Delfin.BusinessLogic"                       mapTo="Delfin.BusinessLogic.BLDet_Tarifa, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDet_Tarifa_Servicio, Delfin.BusinessLogic"              mapTo="Delfin.BusinessLogic.BLDet_Tarifa_Servicio, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDet_Direccionamiento, Delfin.BusinessLogic"             mapTo="Delfin.BusinessLogic.BLDet_Direccionamiento, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLCab_Direccionamiento, Delfin.BusinessLogic"             mapTo="Delfin.BusinessLogic.BLCab_Direccionamiento, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDet_Cotizacion_Servicio, Delfin.BusinessLogic"          mapTo="Delfin.BusinessLogic.BLDet_Cotizacion_Servicio, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLCab_Cotizacion, Delfin.BusinessLogic"                   mapTo="Delfin.BusinessLogic.BLCab_Cotizacion, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDet_Cotizacion, Delfin.BusinessLogic"                   mapTo="Delfin.BusinessLogic.BLDet_Cotizacion, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDet_Operacion_Servicio, Delfin.BusinessLogic"           mapTo="Delfin.BusinessLogic.BLDet_Operacion_Servicio, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDet_Operacion, Delfin.BusinessLogic"                    mapTo="Delfin.BusinessLogic.BLDet_Operacion, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLCab_Operacion, Delfin.BusinessLogic"                    mapTo="Delfin.BusinessLogic.BLCab_Operacion, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDet_Seguimientos, Delfin.BusinessLogic"                 mapTo="Delfin.BusinessLogic.BLDet_Seguimientos, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLCab_Seguimientos, Delfin.BusinessLogic"                 mapTo="Delfin.BusinessLogic.BLCab_Seguimientos, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDet_Tarjas, Delfin.BusinessLogic"                       mapTo="Delfin.BusinessLogic.BLDet_Tarjas, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLCab_Tarjas, Delfin.BusinessLogic"                       mapTo="Delfin.BusinessLogic.BLCab_Tarjas, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLTiposCambio, Delfin.BusinessLogic"                      mapTo="Delfin.BusinessLogic.BLTiposCambio, Delfin.BusinessLogic" />

         <register type="Delfin.BusinessLogic.IBLPreDocsVta, Delfin.BusinessLogic"                       mapTo="Delfin.BusinessLogic.BLPreDocsVta, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLPreDetDocsVta, Delfin.BusinessLogic"                    mapTo="Delfin.BusinessLogic.BLPreDetDocsVta, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDocsVta, Delfin.BusinessLogic"                          mapTo="Delfin.BusinessLogic.BLDocsVta, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDetDocsVta, Delfin.BusinessLogic"                       mapTo="Delfin.BusinessLogic.BLDetDocsVta, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDetCtaCte, Delfin.BusinessLogic"                        mapTo="Delfin.BusinessLogic.BLDetCtaCte, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLCtaCte, Delfin.BusinessLogic"                           mapTo="Delfin.BusinessLogic.BLCtaCte, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLPreDetDocsVta_Det_Operacion, Delfin.BusinessLogic"      mapTo="Delfin.BusinessLogic.BLPreDetDocsVta_Det_Operacion, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDetDocsVta_Det_Operacion, Delfin.BusinessLogic"         mapTo="Delfin.BusinessLogic.BLDetDocsVta_Det_Operacion, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLCtaCte_Det_Operaciones, Delfin.BusinessLogic"           mapTo="Delfin.BusinessLogic.BLCtaCte_Det_Operaciones, Delfin.BusinessLogic" />

         <register type="Delfin.BusinessLogic.IBLDet_Tarifa, Delfin.BusinessLogic"                       mapTo="Delfin.BusinessLogic.BLDet_Tarifa, Delfin.BusinessLogic" />

         <register type="Delfin.BusinessLogic.IBLExcepciones, Delfin.BusinessLogic"                      mapTo="Delfin.BusinessLogic.BLExcepciones, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDetMovimiento, Delfin.BusinessLogic"                    mapTo="Delfin.BusinessLogic.BLDetMovimiento, Delfin.BusinessLogic" />

         <register type="Delfin.BusinessLogic.IBLEntidadLimiteCredito, Delfin.BusinessLogic"             mapTo="Delfin.BusinessLogic.BLEntidadLimiteCredito, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLPreFacturacion, Delfin.BusinessLogic"                   mapTo="Delfin.BusinessLogic.BLPreFacturacion, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDet_Operacion, Delfin.BusinessLogic"                    mapTo="Delfin.BusinessLogic.BLDet_Operacion, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLPlanillas, Delfin.BusinessLogic"                        mapTo="Delfin.BusinessLogic.BLPlanillas, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDet_Cotizacion_OV_Flete, Delfin.BusinessLogic"          mapTo="Delfin.BusinessLogic.BLDet_Cotizacion_OV_Flete, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLFlujo, Delfin.BusinessLogic"                            mapTo="Delfin.BusinessLogic.BLFlujo, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLTipos, Delfin.BusinessLogic"                            mapTo="Delfin.BusinessLogic.BLTipos, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLConstantes, Delfin.BusinessLogic"                       mapTo="Delfin.BusinessLogic.BLConstantes, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDet_Operacion_Servicio, Delfin.BusinessLogic"           mapTo="Delfin.BusinessLogic.BLDet_Operacion_Servicio, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLMovimiento, Delfin.BusinessLogic"                       mapTo="Delfin.BusinessLogic.BLMovimiento, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLPuerto, Delfin.BusinessLogic"                           mapTo="Delfin.BusinessLogic.BLPuerto, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDet_Cotizacion_OV_Documento, Delfin.BusinessLogic"      mapTo="Delfin.BusinessLogic.BLDet_Cotizacion_OV_Documento, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLEntidad, Delfin.BusinessLogic"                          mapTo="Delfin.BusinessLogic.BLEntidad, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDetDocsVta, Delfin.BusinessLogic"                       mapTo="Delfin.BusinessLogic.BLDetDocsVta, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDet_Cotizacion_OV_Archivo, Delfin.BusinessLogic"        mapTo="Delfin.BusinessLogic.BLDet_Cotizacion_OV_Archivo, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLConciliacion, Delfin.BusinessLogic"                     mapTo="Delfin.BusinessLogic.BLConciliacion, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDetDocsVta_Det_Operacion, Delfin.BusinessLogic"         mapTo="Delfin.BusinessLogic.BLDetDocsVta_Det_Operacion, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLParametros, Delfin.BusinessLogic"                       mapTo="Delfin.BusinessLogic.BLParametros, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLTiposCambio, Delfin.BusinessLogic"                      mapTo="Delfin.BusinessLogic.BLTiposCambio, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLCuentasBancariasUsuarios, Delfin.BusinessLogic"         mapTo="Delfin.BusinessLogic.BLCuentasBancariasUsuarios, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLPreDocsVta, Delfin.BusinessLogic"                       mapTo="Delfin.BusinessLogic.BLPreDocsVta, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLNave, Delfin.BusinessLogic"                             mapTo="Delfin.BusinessLogic.BLNave, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLChequera, Delfin.BusinessLogic"                         mapTo="Delfin.BusinessLogic.BLChequera, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLPreDetDocsVta_Det_Operacion, Delfin.BusinessLogic"      mapTo="Delfin.BusinessLogic.BLPreDetDocsVta_Det_Operacion, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDet_Cotizacion_OV_EventosTareas, Delfin.BusinessLogic"  mapTo="Delfin.BusinessLogic.BLDet_Cotizacion_OV_EventosTareas, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLNaveViaje, Delfin.BusinessLogic"                        mapTo="Delfin.BusinessLogic.BLNaveViaje, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDocsVta, Delfin.BusinessLogic"                          mapTo="Delfin.BusinessLogic.BLDocsVta, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLServicio_Via, Delfin.BusinessLogic"                     mapTo="Delfin.BusinessLogic.BLServicio_Via, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDetNaveViaje, Delfin.BusinessLogic"                     mapTo="Delfin.BusinessLogic.BLDetNaveViaje, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLCtaCte, Delfin.BusinessLogic"                           mapTo="Delfin.BusinessLogic.BLCtaCte, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLAgMaritimoEntidad, Delfin.BusinessLogic"                mapTo="Delfin.BusinessLogic.BLAgMaritimoEntidad, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLAnexos, Delfin.BusinessLogic"                           mapTo="Delfin.BusinessLogic.BLAnexos, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLEmpresa, Delfin.BusinessLogic"                          mapTo="Delfin.BusinessLogic.BLEmpresa, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLCab_Direccionamiento, Delfin.BusinessLogic"             mapTo="Delfin.BusinessLogic.BLCab_Direccionamiento, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLCtaCte_Det_Operaciones, Delfin.BusinessLogic"           mapTo="Delfin.BusinessLogic.BLCtaCte_Det_Operaciones, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLTiposEntidad, Delfin.BusinessLogic"                     mapTo="Delfin.BusinessLogic.BLTiposEntidad, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLCab_Seguimientos, Delfin.BusinessLogic"                 mapTo="Delfin.BusinessLogic.BLCab_Seguimientos, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLFuncionEntidad, Delfin.BusinessLogic"                   mapTo="Delfin.BusinessLogic.BLFuncionEntidad, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDet_Cotizacion_OV_Servicio, Delfin.BusinessLogic"       mapTo="Delfin.BusinessLogic.BLDet_Cotizacion_OV_Servicio, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDet_Seguimientos, Delfin.BusinessLogic"                 mapTo="Delfin.BusinessLogic.BLDet_Seguimientos, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLEntidad_Relacionados, Delfin.BusinessLogic"             mapTo="Delfin.BusinessLogic.BLEntidad_Relacionados, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLcorrelativos, Delfin.BusinessLogic"                     mapTo="Delfin.BusinessLogic.BLcorrelativos, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDetCtaCte, Delfin.BusinessLogic"                        mapTo="Delfin.BusinessLogic.BLDetCtaCte, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLEntidad_Servicio, Delfin.BusinessLogic"                 mapTo="Delfin.BusinessLogic.BLEntidad_Servicio, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDepVacioEntidad, Delfin.BusinessLogic"                  mapTo="Delfin.BusinessLogic.BLDepVacioEntidad, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLContrato, Delfin.BusinessLogic"                         mapTo="Delfin.BusinessLogic.BLContrato, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLContrato_Comodity, Delfin.BusinessLogic"                mapTo="Delfin.BusinessLogic.BLContrato_Comodity, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLEntidad_Acuerdo, Delfin.BusinessLogic"                  mapTo="Delfin.BusinessLogic.BLEntidad_Acuerdo, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLCab_Cotizacion, Delfin.BusinessLogic"                   mapTo="Delfin.BusinessLogic.BLCab_Cotizacion, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLResultGestion, Delfin.BusinessLogic"                    mapTo="Delfin.BusinessLogic.BLResultGestion, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLLoadingList, Delfin.BusinessLogic"                      mapTo="Delfin.BusinessLogic.BLLoadingList, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLProspecto, Delfin.BusinessLogic"                        mapTo="Delfin.BusinessLogic.BLProspecto, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLSucursales, Delfin.BusinessLogic"                       mapTo="Delfin.BusinessLogic.BLSucursales, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDet_Cotizacion_Servicio, Delfin.BusinessLogic"          mapTo="Delfin.BusinessLogic.BLDet_Cotizacion_Servicio, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLCab_Cotizacion_OV, Delfin.BusinessLogic"                mapTo="Delfin.BusinessLogic.BLCab_Cotizacion_OV, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLCab_MBL, Delfin.BusinessLogic"                          mapTo="Delfin.BusinessLogic.BLCab_MBL, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLCuentasBancarias, Delfin.BusinessLogic"                 mapTo="Delfin.BusinessLogic.BLCuentasBancarias, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDet_CNTR, Delfin.BusinessLogic"                         mapTo="Delfin.BusinessLogic.BLDet_CNTR, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLGestionVentas, Delfin.BusinessLogic"                    mapTo="Delfin.BusinessLogic.BLGestionVentas, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLFirmas, Delfin.BusinessLogic"                           mapTo="Delfin.BusinessLogic.BLFirmas, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLCab_Tarifa, Delfin.BusinessLogic"                       mapTo="Delfin.BusinessLogic.BLCab_Tarifa, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLLoadingListDetalle, Delfin.BusinessLogic"               mapTo="Delfin.BusinessLogic.BLLoadingListDetalle, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDet_Cotizacion_OV_Novedad, Delfin.BusinessLogic"        mapTo="Delfin.BusinessLogic.BLDet_Cotizacion_OV_Novedad, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDet_Tarifa_Servicio, Delfin.BusinessLogic"              mapTo="Delfin.BusinessLogic.BLDet_Tarifa_Servicio, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDet_Direccionamiento, Delfin.BusinessLogic"             mapTo="Delfin.BusinessLogic.BLDet_Direccionamiento, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLCab_Tarjas, Delfin.BusinessLogic"                       mapTo="Delfin.BusinessLogic.BLCab_Tarjas, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDet_Cotizacion, Delfin.BusinessLogic"                   mapTo="Delfin.BusinessLogic.BLDet_Cotizacion, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLGRR, Delfin.BusinessLogic"                              mapTo="Delfin.BusinessLogic.BLGRR, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLPreDetDocsVta, Delfin.BusinessLogic"                    mapTo="Delfin.BusinessLogic.BLPreDetDocsVta, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDet_Tarjas, Delfin.BusinessLogic"                       mapTo="Delfin.BusinessLogic.BLDet_Tarjas, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLPaquete, Delfin.BusinessLogic"                          mapTo="Delfin.BusinessLogic.BLPaquete, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLSobreEstadia, Delfin.BusinessLogic"                     mapTo="Delfin.BusinessLogic.BLSobreEstadia, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLEntidadCuentaBancaria, Delfin.BusinessLogic"            mapTo="Delfin.BusinessLogic.BLEntidadCuentaBancaria, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLServicio, Delfin.BusinessLogic"                         mapTo="Delfin.BusinessLogic.BLServicio, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLCab_Operacion, Delfin.BusinessLogic"                    mapTo="Delfin.BusinessLogic.BLCab_Operacion, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLServiciosDocumentos, Delfin.BusinessLogic"              mapTo="Delfin.BusinessLogic.BLServiciosDocumentos, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLGastosBancarios, Delfin.BusinessLogic"                  mapTo="Delfin.BusinessLogic.BLGastosBancarios, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLLiqCtaCte, Delfin.BusinessLogic"                        mapTo="Delfin.BusinessLogic.BLLiqCtaCte, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLLiquidacion, Delfin.BusinessLogic"                      mapTo="Delfin.BusinessLogic.BLLiquidacion, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLTransferencia, Delfin.BusinessLogic"                    mapTo="Delfin.BusinessLogic.BLTransferencia, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLMovimientoFlujo, Delfin.BusinessLogic"                  mapTo="Delfin.BusinessLogic.BLMovimientoFlujo, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLFiles, Delfin.BusinessLogic"                            mapTo="Delfin.BusinessLogic.BLFiles, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLLoadingList_Files, Delfin.BusinessLogic"                mapTo="Delfin.BusinessLogic.BLLoadingList_Files, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLComision, Delfin.BusinessLogic"                         mapTo="Delfin.BusinessLogic.BLComision, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDet_Comision, Delfin.BusinessLogic"                     mapTo="Delfin.BusinessLogic.BLDet_Comision, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLGRR, Delfin.BusinessLogic"                              mapTo="Delfin.BusinessLogic.BLGRR, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLGRR_Contrato, Delfin.BusinessLogic"                     mapTo="Delfin.BusinessLogic.BLGRR_Contrato, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLGRR_Paquetes, Delfin.BusinessLogic"                     mapTo="Delfin.BusinessLogic.BLGRR_Paquetes, Delfin.BusinessLogic" />

         <register type="Delfin.BusinessLogic.IBLCabPerfilAsientos, Delfin.BusinessLogic"                mapTo="Delfin.BusinessLogic.BLCabPerfilAsientos, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDetPerfilAsientos, Delfin.BusinessLogic"                mapTo="Delfin.BusinessLogic.BLDetPerfilAsientos, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLSeries, Delfin.BusinessLogic"                           mapTo="Delfin.BusinessLogic.BLSeries, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLDetCtaCteAsientos, Delfin.BusinessLogic"                mapTo="Delfin.BusinessLogic.BLDetCtaCteAsientos, Delfin.BusinessLogic" />

         <register type="Delfin.BusinessLogic.ICGeneral, Delfin.BusinessLogic"                           mapTo="Delfin.BusinessLogic.CGeneral, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLAuditoria, Delfin.BusinessLogic"                        mapTo="Delfin.BusinessLogic.BLAuditoria, Delfin.BusinessLogic" />
         <register type="Delfin.BusinessLogic.IBLCierresChangeControl, Delfin.BusinessLogic"             mapTo="Delfin.BusinessLogic.BLCierresChangeControl, Delfin.BusinessLogic" />

         <register type="Delfin.BusinessLogic.IBLTipificaciones, Delfin.BusinessLogic"                   mapTo="Delfin.BusinessLogic.BLTipificaciones, Delfin.BusinessLogic" />
      </container>
   </unity>
</configuration>
