<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
   </configSections>
   <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
      <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />
      <container>
         <register type="NextAdmin.BusinessLogic.IBLAccesosRol, NextAdmin.BusinessLogic" mapTo="NextAdmin.BusinessLogic.BLAccesosRol, NextAdmin.BusinessLogic" />
         <register type="NextAdmin.BusinessLogic.IBLAccesosUsuario, NextAdmin.BusinessLogic" mapTo="NextAdmin.BusinessLogic.BLAccesosUsuario, NextAdmin.BusinessLogic" />
         <register type="NextAdmin.BusinessLogic.IBLAplicaciones, NextAdmin.BusinessLogic" mapTo="NextAdmin.BusinessLogic.BLAplicaciones, NextAdmin.BusinessLogic" />
         <register type="NextAdmin.BusinessLogic.IBLEmpresas, NextAdmin.BusinessLogic" mapTo="NextAdmin.BusinessLogic.BLEmpresas, NextAdmin.BusinessLogic" />
         <register type="NextAdmin.BusinessLogic.IBLLogAccesos, NextAdmin.BusinessLogic" mapTo="NextAdmin.BusinessLogic.BLLogAccesos, NextAdmin.BusinessLogic" />
         <register type="NextAdmin.BusinessLogic.IBLOpcionesAplicacion, NextAdmin.BusinessLogic" mapTo="NextAdmin.BusinessLogic.BLOpcionesAplicacion, NextAdmin.BusinessLogic" />
         <register type="NextAdmin.BusinessLogic.IBLParametros, NextAdmin.BusinessLogic" mapTo="NextAdmin.BusinessLogic.BLParametros, NextAdmin.BusinessLogic" />
         <register type="NextAdmin.BusinessLogic.IBLPermisosRolOpciones, NextAdmin.BusinessLogic" mapTo="NextAdmin.BusinessLogic.BLPermisosRolOpciones, NextAdmin.BusinessLogic" />
         <register type="NextAdmin.BusinessLogic.IBLPermisosRolProcesos, NextAdmin.BusinessLogic" mapTo="NextAdmin.BusinessLogic.BLPermisosRolProcesos, NextAdmin.BusinessLogic" />
         <register type="NextAdmin.BusinessLogic.IBLPermisosUsuarioOpciones, NextAdmin.BusinessLogic" mapTo="NextAdmin.BusinessLogic.BLPermisosUsuarioOpciones, NextAdmin.BusinessLogic" />
         <register type="NextAdmin.BusinessLogic.IBLPermisosUsuarioProcesos, NextAdmin.BusinessLogic" mapTo="NextAdmin.BusinessLogic.BLPermisosUsuarioProcesos, NextAdmin.BusinessLogic" />
         <register type="NextAdmin.BusinessLogic.IBLProcesosAplicacion, NextAdmin.BusinessLogic" mapTo="NextAdmin.BusinessLogic.BLProcesosAplicacion, NextAdmin.BusinessLogic" />
         <register type="NextAdmin.BusinessLogic.IBLRoles, NextAdmin.BusinessLogic" mapTo="NextAdmin.BusinessLogic.BLRoles, NextAdmin.BusinessLogic" />
         <register type="NextAdmin.BusinessLogic.IBLRolesUsuario, NextAdmin.BusinessLogic" mapTo="NextAdmin.BusinessLogic.BLRolesUsuario, NextAdmin.BusinessLogic" />
         <register type="NextAdmin.BusinessLogic.IBLUsuarios, NextAdmin.BusinessLogic" mapTo="NextAdmin.BusinessLogic.BLUsuarios, NextAdmin.BusinessLogic" />
         <register type="NextAdmin.BusinessLogic.IBLUsuariosEmpresa, NextAdmin.BusinessLogic" mapTo="NextAdmin.BusinessLogic.BLUsuariosEmpresa, NextAdmin.BusinessLogic" />
      </container>
   </unity>
</configuration>
