<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDelfinService"/>
                <binding name="BasicHttpBinding_INextSoftService"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://apps.delfingroupco.com.pe:766/DelfinService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDelfinService" contract="AppService.IDelfinService" name="BasicHttpBinding_IDelfinService"/>
            <endpoint address="http://localhost:38231/NextSoftService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INextSoftService" contract="NextSoftService.INextSoftService" name="BasicHttpBinding_INextSoftService"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>


<system.webServer>
        <handlers>
            <add name="ScriptHandlerFactory"
                 verb="*" path="*.asmx"
                 type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                 resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
