<?xml version="1.0" encoding="utf-8" ?>
<configuration>

   <configSections>
      <section name="dataConfiguration"
               type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
   </configSections>

   <dataConfiguration defaultDatabase="ConnNextAdmin" />
   <connectionStrings>
      <add name="ConnNextAdmin"
           connectionString="Data Source=30.1.0.1;Initial Catalog=cobex_2014_admin;User ID=SA;Password=ibmservex;Connect Timeout=120"
           providerName="System.Data.SqlClient" />
   </connectionStrings>
   
   <system.serviceModel>
      <bindings>
         <basicHttpBinding>
            <binding name="basicHttp" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="104857600" maxBufferPoolSize="104857600" maxReceivedMessageSize="104857600" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
               <readerQuotas maxDepth="1000" maxStringContentLength="104857600" maxArrayLength="104857600" maxBytesPerRead="104857600" maxNameTableCharCount="104857600"/>
               <security mode="None">
                  <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
                  <message clientCredentialType="UserName" algorithmSuite="Default"/>
               </security>
            </binding>
            <binding name="BasicHttpBinding_UploadFileService" closeTimeout="10:00:00" openTimeout="10:00:00" receiveTimeout="10:00:00" sendTimeout="10:00:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" textEncoding="utf-8" transferMode="Buffered">
               <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647"/>
               <security mode="None">
               </security>
            </binding>
         </basicHttpBinding>
      </bindings>

      <client>
         <endpoint address="http://localhost:3000/NextAdminService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttp" contract="NextAdmin.ServiceContracts.INextAdminServices" />
        
      </client>

   </system.serviceModel>

   <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
   </startup>

</configuration>